.perm-check{
  float: left;
  width: 25%;
}

form.cmxform.form-horizontal.style-form #menulist .fa-arrows-alt{
    transform: rotate(45deg)
}
form.cmxform.form-horizontal.style-form #menulist ul li{
  padding: 8px 0 8px 30px !important;
      border: 1px solid #c5c5c5 !important;
      background:#2bccc0a6 !important;
}
